<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
        <loop name="free_shipping" class="FreeShipping\Loop\FreeShipping" />
        <loop name="order.notsent.freeshipping" class="FreeShipping\Loop\NotSendOrders" />
    </loops>

    <forms>
        <form name="freeShipping.admin.rule.creation" class="FreeShipping\Form\FreeShippingRuleCreationForm"/>
        <form name="freeShipping.admin.rule.modification" class="FreeShipping\Form\FreeShippingRuleModificationForm"/>
        <form name="freeShipping.export.inet" class="FreeShipping\Form\ExportOrder" />
    </forms>

    <commands>
        <!--
        <command class="MyModule\Command\MySuperCommand" />
        -->
    </commands>

    <templateDirectives>
        <!-- Sample definition
        <templateDirectives class="MyModule\Directive\MyTemplateDirective" name="my_filter"/>
        -->
    </templateDirectives>

    <services>
        <service id="freeShipping.action" class="FreeShipping\Action\FreeShippingAction">
            <argument type="service" id="service_container"/>
            <tag name="kernel.event_subscriber"/>
        </service>
        <service id="freeShipping.mail" class="FreeShipping\EventListener\SendConfirmationEmail" scope="request">
            <argument type="service" id="thelia.parser" />
            <argument type="service" id="mailer"/>
            <tag name="kernel.event_subscriber"/>
        </service>
    </services>

</config>
