<?xml version="1.0" encoding="UTF-8"?>
<module>
    <fullnamespace>FreeShipping\FreeShipping</fullnamespace>
    <descriptive locale="en_US">
        <title>Free Shipping</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Franco de port</title>
    </descriptive>
    <version>1.1.3</version>
    <author>
        <name>Michaël Espeche</name>
        <email>mespeche@openstudio.fr</email>
    </author>
    <type>delivery</type>
    <thelia>2.1.0</thelia>
    <stability>prod</stability>
</module>
